/* Skip Link */

.skip {
    --skip-back: hsl(var(--color-sulu));
    --skip-text: hsl(var(--color-ebony));

    margin: 0;
    background-color: var(--skip-back);
    text-align: center;
}

/* Link */

.skip__link {
    display: inline-block;
    margin-block: 8px;
    color: var(--skip-text);
    text-underline-offset: 0.1em;
    outline: none;
}

.skip__link:not(:active, :focus-visible) {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip-path: inset(-50%);
    white-space: nowrap;
}
