/* Chip */

.chip {
    --chip-back-tools: hsl(var(--color-lilac));
    --chip-back-podcasts: hsl(var(--color-sulu));
    --chip-back-websites: hsl(var(--color-coral));
    --chip-text-primary: hsl(var(--color-ebony));
    --chip-radius: 20px;

    position: relative;
    display: grid;
    grid-template-columns: 1fr min-content;
    padding-inline: 20px;
    padding-block: 40px;
    min-height: 240px;
    border-radius: var(--chip-radius);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 200px;
    color: var(--chip-text-primary);
}

@media (min-width: 1024px) {
    .chip {
        --chip-radius: 40px;
    }
}

/* Types */

.chip--tools {
    background-color: var(--chip-back-tools);
    background-image: url('/images/scribbles.svg#1-white-60');
}

.chip--podcasts {
    background-color: var(--chip-back-podcasts);
    background-image: url('/images/scribbles.svg#2-white-60');
}

.chip--websites {
    background-color: var(--chip-back-websites);
    background-image: url('/images/scribbles.svg#3-white-60');
}

/* Title */

.chip__title {
    margin: 0;
    line-height: 1.25;
    font-weight: normal;
    font-size: var(--font-size-h2);
    font-family: var(--font-family-heading);
}

/* Link */

.chip__link {
    color: inherit;
    text-decoration: none;
}

.chip__link:focus-visible {
    outline: none;
}

.chip__link::before {
    position: absolute;
    inset: 0;
    content: '';
    border-radius: var(--chip-radius);
}

.chip__link:focus-visible::before {
    outline-offset: 2px;
    outline: 2px solid var(--color-focus);
}

/* Icon */

.chip__icon {
    width: 36px;
    height: 36px;
}
