/* Project Section */

.project-section {
	position: relative;
	display: grid;
	row-gap: 20px;
	scroll-margin-block-start: 84px;
}

/* Title */

.project-section__title {
	line-height: 1.1;
	text-transform: uppercase;
	font-size: var(--font-size-h1);
}

/* Desc */

.project-section__desc {
	margin: 0;
	line-height: 1.33;
	font-size: var(--font-size-h3);
	font-family: var(--font-family-heading);
}

/* List */

.project-section__list {
	display: grid;
	row-gap: 24px;
	padding-block: 20px;
}

/* Scribble */

.project-section__scribble {
	position: absolute;
	inset-block-start: 0;
	z-index: -1;
	color: var(--project-section-scribble-fill);
	pointer-events: none;
}
