@media (width >= 1760px) {

	.project-section {
		&:nth-child(odd) {
			.project-section__title,
			.project-section__desc,
			.project-section__list {
				grid-column-start: 1;
			}
		}

		&:nth-child(even) {
			.project-section__title,
			.project-section__desc,
			.project-section__list {
				grid-column-start: 3;
			}
		}
	}

	/* Title */

	.project-section__title {
		grid-column-end: span 4;
	}

	/* Desc */

	.project-section__desc {
		grid-column-end: span 4;
	}

	/* List */

	.project-section__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-end: span 6;
		column-gap: 20px;
	}

}
