@media (width < 1024px) {

    /* Scribble */

    .project-section__scribble {
        inset-inline: 0;
        margin-inline: auto;
        inline-size: calc(100% - 24px * 2);
        max-inline-size: 600px;
        block-size: auto;
    }

}
