@media (width < 1024px) {

    /* Scribble */

    .project-section__scribble {
        position: absolute;
        inset: 0;
        z-index: -1;
        margin-inline: auto;
        width: 100%;
        height: auto;
        color: var(--project-section-scribble-fill);
        pointer-events: none;
    }

}
