@media (width >= 1024px) {
	/* Project Section */

	.project-section {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		column-gap: 20px;
	}

	/* Scribble */

	.project-section__scribble {
		inline-size: auto;
		block-size: 600px;

		.project-section:nth-child(odd) & {
			inset-inline-end: -200px;
		}

		.project-section:nth-child(even) & {
			inset-inline-start: -200px;
		}
	}

}

@media (1024px <= width < 1760px) {
	.project-section {
		&:nth-child(odd) {
			.project-section__title,
			.project-section__desc,
			.project-section__list {
				grid-column-start: 1;
			}
		}

		&:nth-child(even) {
			.project-section__title,
			.project-section__desc,
			.project-section__list {
				grid-column-start: 2;
			}
		}
	}

	/* Title */

	.project-section__title {
		grid-column-end: span 7;
	}

	/* Desc */

	.project-section__desc {
		grid-column-end: span 7;
	}

	/* List */

	.project-section__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-end: span 6;
		column-gap: 20px;
	}

}
