{% macro articleCardList(
	collection,
	heading,
	limit
) %}
	<div class="article-card-list">
		{% from 'article-card.njk' import articleCard %}
		{% for article in collection %}
			{% if loop.index <= limit and article.url != page.url %}
				{{ articleCard(
					article=article,
					heading=heading
				) }}
			{% endif %}
		{% endfor %}
	</div>
{% endmacro %}
