{% macro articles(
    source,
    heading,
    limit,
    exclude
) %}
    {% for article in source | reverse %}
        {% if loop.index <= limit and article.url != exclude.url %}
            {% if article.data.permalink == false %}
                {% set articleUrl = article.data.source.url %}
                {% set outerLink %}
                    <p>
                        Read on {{ article.data.source.title }}
                    </p>
                {% endset %}
            {% else %}
                {% set articleUrl = article.url %}
            {% endif %}

            <article class="card">
                <p>
                    {% for tag in article.data.tags %}
                        {{ tag }}
                    {% endfor %}
                </p>

                <{{ heading }}} class="card__title">
                    <a class="card__link" href="{{ articleUrl }}">
                        {{- article.data.title -}}
                    </a>
                </{{ heading }}}>

                <time datetime="{{ article.date | dateISO }}">
                    {{ article.date | dateShort }}
                </time>

                <p class="content">
                    {{ article.data.desc | markdownInline | safe }}
                </p>

                {{ outerLink | safe }}
            </article>
        {% endif %}
    {% endfor %}
{% endmacro %}
