{% macro card(
    article,
    heading
) %}
    {% set video = article.data.video %}
    {% set external = article.data.source %}

    {% if external %}
        {% set articleUrl = article.data.source.url %}
    {% else %}
        {% set articleUrl = article.url %}
    {% endif %}

    <article class="card">
        <div class="card__box">
            <{{ heading }}} class="card__title">
                <a class="card__link" href="{{ articleUrl }}">
                    {{- article.data.title | safe -}}
                </a>
            </{{ heading }}}>

            <p class="tags">
                {% for tag in article.data.tags %}
                    <span class="tags__item">
                        {{ tag }}
                    </span>
                {% endfor %}
            </p>

            <p class="card__types">
                {% if video %}
                    <svg class="card__type card__type--video" width="24" height="24" aria-hidden="true">
                        <use href="/images/icons.svg#video">
                    </svg>
                {% endif %}
                <svg class="card__type card__type--text" width="24" height="24" aria-hidden="true">
                    <use href="/images/icons.svg#text">
                </svg>
                {% if external %}
                    <svg class="card__type card__type--external" width="24" height="24" aria-hidden="true">
                        <use href="/images/icons.svg#external">
                    </svg>
                {% endif %}
            </p>

            <time class="card__date" datetime="{{ article.date | dateISO }}">
                {{ article.date | dateShort }}
            </time>
        </div>

        <div class="card__desc">
            <p class="card__text">
                {{ article.data.desc | markdownInline | safe }}
            </p>

            {% if external %}
                <a class="card__source action" href="{{ article.data.source.url }}">
                    Read on {{ article.data.source.title }}
                    <svg class="action__icon" width="24" height="24" aria-hidden="true">
                        <use href="/images/icons.svg#external">
                    </svg>
                </a>
            {% endif %}
        </div>
    </article>
{% endmacro %}
