<footer class="footer">
    {% for section in links %}
        <h4>{{ section.title }}</h4>
        <ul>
            {% for item in section.items %}
                <li>
                    <a href="{{ item.url }}">
                        {{-item.title-}}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}

    <h4>Credits</h4>
    <ul>
        <li>
            Designed by Mark Shakhov
        </li>
        <li>
            Handcrafted by me
        </li>
        <li>
            Powered by
            <a href="https://11ty.dev/">
                Eleventy
            </a>
        </li>
    </ul>
</footer>
