<footer class="footer column">
	<div class="footer__section">
		<h4 class="footer__title">
			{{ footer.social.title }}
		</h4>
		<ul class="footer__list">
			{% for item in footer.social.list %}
				<li class="footer__item">
					<a class="footer__link" href="{{ item.url }}" rel="me">
						{{- item.title | safe -}}
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
	<div class="footer__section">
		<h4 class="footer__title">
			{{ footer.email.title }}
		</h4>
		<a class="footer__link" href="{{ footer.email.link }}">
			{{- footer.email.text | safe -}}
		</a>
	</div>
	<div class="footer__section">
		<h4 class="footer__title">
			{{ footer.credits.title }}
		</h4>
		<ul class="footer__list">
			{% for item in footer.credits.list %}
				<li class="footer__item">
					<a class="footer__link" href="{{ item.url }}">
						{{- item.title | safe -}}
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</footer>
