<footer class="footer">
    {% for section in footer %}
        <h4 class="footer__title">{{ section.title }}</h4>
        <ul class="footer__list">
            {% for item in section.items %}
                <li class="footer__item">
                    {% if item.url %}
                        <a class="footer__link" href="{{ item.url }}">
                            {{- item.title -}}
                        </a>
                    {% else %}
                        {{ item.title | markdownInline | safe }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</footer>
