<a class="skip-link" href="#main">
    Skip to main content
</a>

<header class="header">
    <a class="header__link" href="/">
        <svg class="header__logo" width="40" height="40" aria-hidden="true">
            <use href="/images/icons.svg#logo"></use>
        </svg>
    </a>

    {% include 'menu.njk' %}

    {% include 'theme-switcher.njk' %}
</header>
