<p class="skip">
    <a class="skip__link" href="#main">
        Skip to main content
    </a>
</p>

<header class="header">
    <button class="header__button action" type="button">
        <svg class="action__icon" width="24" height="24" aria-hidden="true">
            <use href="/images/icons.svg#menu">
        </svg>
        Menu
    </button>

    <a class="header__link" href="/" aria-label="Home">
        <svg class="header__logo" width="32" height="32" aria-hidden="true">
            <use href="/images/icons.svg#logo"></use>
        </svg>
    </a>

    {% include 'menu.njk' %}
</header>
