<nav class="menu">
    <ul class="menu__list">
        {% for item in menu %}
            {% if item.link == page.url %}
                {% set current = 'aria-current="page"' %}
            {% else %}
                {% set current = '' %}
            {% endif %}
            <li class="menu__item">
                <a class="menu__link" href="{{ item.link }}" {{ current | safe }}>
                    {{- item.title -}}
                </a>
            </li>
        {% endfor %}
    </ul>
    <button class="action" type="button">
        <svg class="action__icon" width="24" height="24" aria-hidden="true">
            <use href="/images/icons.svg#menu">
        </svg>
        Menu
    </button>
    <button class="action" type="button">
        <svg class="action__icon" width="24" height="24" aria-hidden="true">
            <use href="/images/icons.svg#cross">
        </svg>
        Close
    </button>
    <a class="action" href="/feed/">
        <svg class="action__icon" width="24" height="24" aria-hidden="true">
            <use href="/images/icons.svg#rss">
        </svg>
        RSS
    </a>
</nav>
