<nav class="menu menu--closed" id="menu" aria-label="Primary">
    <ul class="menu__list">
        {% for item in menu %}
            {% if item.link == page.url %}
                {% set current = 'aria-current="page"' %}
            {% else %}
                {% set current = '' %}
            {% endif %}
            <li class="menu__item">
                <a class="menu__link" href="{{ item.link }}" {{ current | safe }}>
                    {{- item.title -}}
                </a>
            </li>
        {% endfor %}
    </ul>

    <a class="menu__feed action action--hover" href="/feed/">
        <svg class="action__icon" width="24" height="24" aria-hidden="true">
            <use href="/images/icons.svg#rss">
        </svg>
        RSS
    </a>

    <section class="menu__theme theme-switcher" aria-label="Color theme switcher">
        <button class="theme-switcher__button" aria-pressed="false" value="light">Light</button>
        <button class="theme-switcher__button" aria-pressed="true" value="auto">Auto</button>
        <button class="theme-switcher__button" aria-pressed="false" value="dark">Dark</button>
    </section>
</nav>
