<nav class="navigation">
    <ul class="navigation__list">
        {% for item in navigation %}
            {% if item.link == page.url %}
                {% set current = 'aria-current="page"' %}
            {% else %}
                {% set current = '' %}
            {% endif %}
            <li class="navigation__item">
                <a class="navigation__link" href="{{ item.link }}" {{ current | safe }}>
                    {{- item.title -}}
                </a>
            </li>
        {% endfor %}
    </ul>
    <a class="navigation__rss action" href="/feed/">
        <svg class="action__icon" width="24" height="24" aria-hidden="true">
            <use href="/images/icons.svg#rss"></use>
        </svg>
        RSS
    </a>
</nav>
