{% if pagination.hrefs.length > 1 %}
    <ul class="pagination">
        {% if pagination.href.previous %}
            <li class="pagination__arrow">
                <a class="pagination__link"
                    href="{{ pagination.href.previous }}"
                    aria-label="Previous page"
                >
                    <svg class="pagination__icon" width="24" height="24" aria-hidden="true">
                        <use href="/images/icons.svg#left"></use>
                    </svg>
                </a>
            </li>
        {% endif %}
        {% for pageEntry in pagination.pages %}
            {% if page.url == pagination.hrefs[loop.index0] %}
                {% set current = 'aria-current="page"' %}
            {% else %}
                {% set current = '' %}
            {% endif %}
            <li class="pagination__number">
                <a class="pagination__link"
                    href="{{ pagination.hrefs[loop.index0] }}"
                    aria-label="Page {{ loop.index }}"
                    {{ current | safe }}
                >
                    {{ loop.index }}
                </a>
            </li>
        {% endfor %}
        {% if pagination.href.next %}
            <li class="pagination__arrow">
                <a class="pagination__link"
                    href="{{ pagination.href.next }}"
                    aria-label="Next page"
                >
                    <svg class="pagination__icon" width="24" height="24" aria-hidden="true">
                        <use href="/images/icons.svg#right"></use>
                    </svg>
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}
