{% macro posts(
    source,
    heading,
    limit,
    exclude
) %}
    {% for post in source | reverse %}
        {% if loop.index <= limit %}
            {% if exclude and post.url == exclude.url %}
            {% else %}
                {% if post.data.permalink == false %}
                    {% set postUrl = post.data.url %}
                    {% set postArrow = '↑' %}
                {% else %}
                    {% set postUrl = post.url %}
                {% endif %}

                <article class="card">
                    <p>
                        {% for tag in post.data.tags %}
                            {{ tag }}
                        {% endfor %}
                    </p>

                    <{{ heading }}}>
                        <a href="{{ postUrl }}">
                            {{ post.data.title }}
                        </a> {{ postArrow }}
                    </{{ heading }}}>

                    <time>{{ post.date | dateLong }}</time>
                </article>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endmacro %}
