{% macro posts(
    source,
    heading,
    limit,
    exclude
) %}
    {% for post in source | reverse %}
        {% if loop.index <= limit %}
            {% if exclude and post.url == exclude.url %}
            {% else %}
                {% if post.data.permalink == false %}
                    {% set postUrl = post.data.source.url %}
                    {% set postLink %}
                        <p>
                            Read on {{ post.data.source.title }}
                        </p>
                    {% endset %}
                {% else %}
                    {% set postUrl = post.url %}
                {% endif %}

                <article class="card">
                    <p>
                        {% for tag in post.data.tags %}
                            {{ tag }}
                        {% endfor %}
                    </p>

                    <{{ heading }}}>
                        <a href="{{ postUrl }}">
                            {{-post.data.title-}}
                        </a>
                    </{{ heading }}}>

                    <time>{{ post.date | dateLong }}</time>

                    {{ postLink | safe }}
                </article>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endmacro %}
