<section class="theme-switcher" aria-label="Color theme switcher">
    <button class="theme-switcher__button" aria-pressed="false" value="light">Light</button>
    <button class="theme-switcher__button" aria-pressed="true" value="auto">Auto</button>
    <button class="theme-switcher__button" aria-pressed="false" value="dark">Dark</button>
</section>
