/* Inter */

@font-face {
	font-weight: 400;
	font-family: 'Inter';
	font-style: normal;
	font-display: swap;
	src: url('/fonts/inter-regular.woff2') format('woff2');
}

@font-face {
	font-weight: 400;
	font-family: 'Inter';
	font-style: italic;
	font-display: swap;
	src: url('/fonts/inter-italic.woff2') format('woff2');
}

@font-face {
	font-weight: 700;
	font-family: 'Inter';
	font-style: normal;
	font-display: swap;
	src: url('/fonts/inter-bold.woff2') format('woff2');
}

/* Inter Variable */

@font-face {
	font-weight: 100 900;
	font-family: 'Inter Variable';
	font-style: normal;
	font-display: swap;
	src: url('/fonts/inter-variable.woff2') format('woff2');
}

@font-face {
	font-weight: 400;
	font-family: 'Inter Variable';
	font-style: italic;
	font-display: swap;
	src: url('/fonts/inter-italic.woff2') format('woff2');
}

/* Neue Machina */

@font-face {
	font-weight: normal;
	font-family: 'Neue Machina';
	font-style: normal;
	font-display: swap;
	src: url('/fonts/neue-machina.woff2') format('woff2');
}

/* JetBrains Mono */

@font-face {
	font-weight: normal;
	font-family: 'JetBrains Mono';
	font-style: normal;
	font-display: swap;
	src: url('/fonts/jetbrains-mono.woff2') format('woff2');
}

/* Variables */

:root {
	--font-family-text: 'Inter', sans-serif;
	--font-family-heading: 'Neue Machina', sans-serif;
	--font-family-code: 'JetBrains Mono', monospace;

	@supports (font-variation-settings: normal) {
		--font-family-text: 'Inter Variable', sans-serif;
	}
}
