/* Headings */

.content h1,
.content h2,
.content h3 {
    font-weight: normal;
    font-family: 'Neue Machina', sans-serif;
}

.content h1 {
    text-transform: uppercase;
}

/* Code */

.content code {
    font-variant-ligatures: none;
    font-family: 'JetBrains Mono', monospace;
}

/* Images */

.content img {
    max-width: 100%;
}

/* Frames */

.content iframe {
    width: 100%;
    border: none;
}
