.navigation__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation__link {
    color: var(--color-text-secondary);
}

.navigation__link[aria-current] {
    background-color: hsl(var(--color-sulu));
    color: hsl(var(--color-ebony));
}
