/* List */

.navigation__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Link */

.navigation__link {
    color: var(--color-text-secondary);
    text-underline-offset: 3px;
}

.navigation__link:focus-visible {
    border-radius: 2px;
    outline: 2px solid var(--color-focus);
    outline-offset: 2px;
}

.navigation__link[aria-current] {
    background-color: var(--color-active-back);
    color: var(--color-active-text);
}
