/* List */

.navigation__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Link */

.navigation__link {
    color: var(--color-text-secondary);
}

.navigation__link[aria-current] {
    background-color: var(--color-active-back);
    color: var(--color-active-text);
}

/* RSS */

.navigation__rss {
    color: var(--color-text-primary);
}
