[build]
  publish = "dist"
  command = "npm run build"

[[plugins]]
  package = "./netlify/plugins/cache"

[build.environment]
  NODE_VERSION = "22"

[[edge_functions]]
  path = "/feed/"
  function = "feed"

[[redirects]]
  from = "/feed/"
  to = "/feed/index.xml"
  status = 200

[[redirects]]
  from = "/*"
  to = "/404/index.html"
  status = 404

[[headers]]
  for = "/*"
  [headers.values]
    X-Content-Type-Options = "nosniff"
    Content-Security-Policy = """
      default-src 'self';
      base-uri 'self';
      connect-src 'self';
      font-src 'self' fonts.gstatic.com;
      form-action 'self';
      frame-ancestors 'self';
      img-src 'self' data:;
      object-src 'none';
      script-src 'self';
      style-src 'self' 'unsafe-inline' fonts.googleapis.com;
      upgrade-insecure-requests;
      worker-src 'self';
      """
    Cross-Origin-Resource-Policy = "same-origin"
    Referrer-Policy = "strict-origin-when-cross-origin"
    Strict-Transport-Security = "max-age=63072000"
    Cross-Origin-Opener-Policy = "same-origin"
