[[edge_functions]]
  path = "/feed/*"
  function = "feed"

[[redirects]]
  from = "/feed/"
  to = "/feed/index.xml"
  status = 200

[[redirects]]
  from = "/*"
  to = "/404/index.html"
  status = 404

[[headers]]
  for = "/*"
  [headers.values]
    X-Content-Type-Options = "nosniff"
    Strict-Transport-Security = "max-age=63072000"
    Content-Security-Policy = """
      default-src 'self';
      script-src 'self';
      style-src 'self' 'unsafe-inline' fonts.googleapis.com;
      font-src 'self' fonts.gstatic.com;
      img-src 'self' data:;
      object-src 'none';
      base-uri 'self';
      form-action 'self';
      frame-ancestors 'self';
      """
    Cross-Origin-Resource-Policy = "same-origin"
    Referrer-Policy = "strict-origin-when-cross-origin"
