[[redirects]]
  from = "/feed/"
  to = "/feed/index.xml"
  status = 200

[[redirects]]
  from = "/*"
  to = "/404/index.html"
  status = 404

[[headers]]
  for = "/*"
  [headers.values]
    X-Content-Type-Options = "nosniff"
    Content-Security-Policy = """
      default-src 'self';
      frame-ancestors 'self';
      style-src 'self' 'unsafe-inline' fonts.googleapis.com;
      font-src 'self' fonts.gstatic.com;
      script-src 'self' plausible.io;
      connect-src 'self' plausible.io;
      """
    Cross-Origin-Resource-Policy = "same-origin"
    Referrer-Policy = "strict-origin-when-cross-origin"
