<main class="main column" id="main">
    <header class="caption">
        <h1 class="caption__title caption__title--top">
            {{ title }}
        </h1>
        <span class="caption__number">
            {{ collections.articles.length }}
        </span>
        <a class="caption__link action action--hover" href="/feed/" aria-label="RSS">
            <svg class="action__icon" width="24" height="24" aria-hidden="true">
                <use href="/images/icons.svg#rss"/>
            </svg>
            <span class="caption__label">
                RSS
            </span>
        </a>
    </header>
    <div class="two-columns">
        <div class="two-columns__cards">
            {% from 'article-card-list.njk' import articleCardList with context %}

            {{ articleCardList(
                collection=pagination.items,
                heading='h2',
                limit=pagination.size
            ) }}

            {% include 'pagination.njk' %}
        </div>
    </div>
</main>
