/* Header */

.archive__header {
    border-bottom: 2px solid var(--color-text-primary);
}

/* Title */

.archive__title {
    text-transform: uppercase;
    font-weight: normal;
    font-size: var(--font-size-heading-2);
    font-family: var(--font-family-heading);
}

/* Number */

.archive__number {

}

/* Link */

.archive__link {
    color: var(--color-text-primary);
}
