/* Archive */

.archive {
    display: grid;
    row-gap: 40px;
}

/* Header */

.archive__header {
    padding-block: 20px;
    display: flex;
    border-bottom: 2px solid var(--color-text-primary);
}

/* Title */

.archive__title {
    margin: 0;
    line-height: 1.1;
    text-transform: uppercase;
    font-weight: normal;
    font-size: var(--font-size-heading-2);
    font-family: var(--font-family-heading);
}

/* Number */

.archive__number {
    margin-left: 4px;
    line-height: 1.3;
}

/* Link */

.archive__link {
    margin-bottom: 8px;
    margin-left: auto;
    color: var(--color-text-primary);
}
