---
permalink: /feed/index.xml
---
<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" version="2.0">
    <channel>
        <title>{{ data.title }}</title>
        <description>{{ data.description }}</description>
        <copyright>{{ data.copyright }}</copyright>
        <language>{{ data.language }}</language>
        <link>{{ data.domain }}/</link>

        {% set lastArticle = collections.articles | last %}
        <lastBuildDate>{{ lastArticle.date.toUTCString() }}</lastBuildDate>

        <atom:link href="{{ data.domain }}/feed/" rel="self" type="application/rss+xml"/>

        {%- for article in collections.articles | reverse  %}
            <item>
                <title>{{ article.data.title }}</title>
                <link>{{ data.domain }}{{ article.url }}</link>
                <description>
                    <![CDATA[{{ article | absolute | trim | safe }}]]>
                </description>
                <pubDate>{{ article.date.toUTCString() }}</pubDate>
                <guid>{{ data.domain }}{{ article.url }}</guid>
            </item>
        {%- endfor %}
    </channel>
</rss>
