---
permalink: /feed/index.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="{{ global.language }}" xml:base="{{ global.domain }}">
	<title>{{ global.title }}</title>
	<subtitle>{{ global.description }}</subtitle>
	<link href="{{ global.domain }}"/>
	<link href="{{ global.domain + '/feed/' }}" rel="self"/>
	<updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
	<id>{{ global.domain }}/</id>
	<author>
		<name>{{ global.author }}</name>
		<email>{{ global.email }}</email>
	</author>
	{%- for article in collections.articles | reverse %}
		<entry>
			<title>{{ article.data.title | trim }}</title>
			<link href="{{ url }}"/>
			<updated>{{ article.date | dateToRfc3339 }}</updated>
			<id>{{ global.domain }}{{ article.url }}</id>
			<content type="html">
				{{- article.templateContent | htmlToAbsoluteUrls(global.domain + article.url) | trim -}}
			</content>
		</entry>
	{%- endfor %}
</feed>
