---
permalink: /sitemap.xml
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for item in collections.posts -%}
    {%- if item.url -%}
    <url>
        <loc>{{ item.url | url }}</loc>
        <lastmod>{{ item.date.toISOString().split('T')[0] }}</lastmod>
    </url>
    {%- endif -%}
{%- endfor -%}
</urlset>
