@media (1024px <= width < 1760px) {

    /* Project Feature List */

    .project-feature-list {
        grid-template-columns: 1fr 1fr;
    }

    .project-feature-list > :nth-child(3n) {
        grid-column: span 2;
    }

}
