/* SR Only */

.sr-only {
	position: absolute;
	top: 0;
	left: 0;
	margin: -1px;
	padding: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	border: none;
	white-space: nowrap;
}
