/* Menu */

.menu {
    --menu-current-back: hsl(var(--color-sulu));
    --menu-current-text: hsl(var(--color-ebony));

    position: fixed;
    z-index: 1;
    inset: 0;
    padding: 20px;
    display: grid;
    grid-template-rows:
        min-content
        1fr
        min-content;
    background-color: var(--color-back-primary);
}

.menu[hidden] {
    display: none;
}

/* Feed */

.menu__feed {
    justify-self: end;
}

/* List */

.menu__list {
    place-self: center;
    display: grid;
    justify-items: center;
    row-gap: 40px;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Link */

.menu__link {
    padding: 0.05em 0.08em;
    border-radius: 0.1em;
    color: var(--color-text-secondary);
    font-size: var(--font-size-large);
}

.menu__link:focus-visible {
    border-radius: 2px;
    outline: 2px solid var(--color-focus);
    outline-offset: 2px;
}

.menu__link[aria-current] {
    background-color: var(--menu-current-back);
    color: var(--menu-current-text);
}

/* Theme */

.menu__theme {
    justify-self: center;
}
