@media (width < 1024px) {

    /* Menu */

    .menu {
        position: fixed;
        inset: 0;
        z-index: 1;
        display: grid;
        grid-template-rows:
            min-content
            1fr
            min-content;
        padding: 20px;
        transform: translateX(-100%) scaleX(0.3);
        transition: transform 0.4s cubic-bezier(0.65, 0, 0.35, 1);
    }

    .menu--closed {
        display: none;
    }

    .menu--open {
        transform: translateX(0) scaleX(1);
    }

    /* Feed */

    .menu__feed {
        justify-self: end;
        order: -1;
    }

    /* List */

    .menu__list {
        display: grid;
        justify-items: center;
        row-gap: 40px;
        place-self: center;
    }

    /* Link */

    .menu__link {
        font-size: var(--font-size-h3);
    }

    /* Theme */

    .menu__theme {
        justify-self: center;
    }

}
