@media (width <= 1024px) {

/* Menu */

    .menu {
        position: fixed;
        z-index: 1;
        inset: 0;
        padding: 20px;
        display: grid;
        grid-template-rows:
            min-content
            1fr
            min-content;
        transform: translateX(-100%) scaleX(0.3);
        transition: transform 0.4s cubic-bezier(0.65, 0, 0.35, 1);
    }

    .menu--closed {
        display: none;
    }

    .menu--open {
        transform: translateX(0) scaleX(1);
    }

/* Feed */

    .menu__feed {
        order: -1;
        justify-self: end;
    }

/* List */

    .menu__list {
        place-self: center;
        display: grid;
        justify-items: center;
        row-gap: 40px;
    }

/* Link */

    .menu__link {
        font-size: var(--font-size-h3);
    }

/* Theme */

    .menu__theme {
        justify-self: center;
    }

}
