/* TOC */

.toc {
    display: grid;
    row-gap: 12px;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* List */

.toc__list {
    display: grid;
    row-gap: 8px;
    margin: 0;
    padding: 0;
    padding-block-start: 4px;
    padding-inline-start: 20px;
    list-style: none;
    font-size: var(--font-size-small);
}

/* Link */

.toc__link {
    color: var(--color-text-secondary);
}
