@media (width >= 1024px) {

	/* TOC */

	.toc {
		position: sticky;
		top: 136px;
		scroll-target-group: auto;
	}

	.toc--mobile {
		display: none;
	}

	/* Link */

	.toc__link:target-current {
		text-decoration: none;
		color: var(--color-text-primary);
		border-radius: 2px;
		background-color: var(--toc-current-link);
		outline: 8px solid var(--toc-current-link);
	}

}
