@media (width < 1024px) {

    /* Main */

    .main {
        padding-block: 40px 100px;
    }

    /* Wrapper */

    .main__wrapper {
        padding-inline: 20px;
    }

    /* Lead */

    .main__lead {
        margin-block-start: -40px;
    }

}
