@media (1024px <= width < 1760px) {

    /* Wrapper */

    .main__wrapper {
        padding-inline: 42px;
    }

}

@media (width >= 1024px) {

    /* Main */

    .main {
        padding-block: 80px 192px;
    }

    /* Lead */

    .main__lead {
        margin-block-start: -80px;
    }

}
