@media (width >= 1760px) {

	/* About Section List */

	.about-section-list {
		padding-block-start: 80px;
	}

	/* Skills */

	.about-section-list__skills {
		grid-row-start: 1;
		grid-column: 2 / span 2;
	}

	/* Work */

	.about-section-list__work {
		grid-row-start: 1;
		grid-column: 5 / span 3;
	}

	/* Contacts */

	.about-section-list__contacts {
		grid-row-start: 2;
		grid-column: 3 / -3;
	}

}
