@media (width < 1024px) {

/* Footer */

    .footer {
        grid-template-columns: 1fr 1fr;
        row-gap: 40px;
        padding-block: 40px;
        padding-inline: 20px;
    }

/* Section */

    .footer__section {
        row-gap: 20px;
        align-content: start;
    }

    .footer__section:last-child {
        grid-column: 1 / -1;
    }

}
