@media (1024px <= width < 1920px) {

/* Footer */

    .footer {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        column-gap: 20px;
        padding-inline: 42px;
        padding-block: 80px;
    }

/* Section */

    .footer__section {
        grid-column: span 2;
        display: grid;
        grid-template-rows: 1fr min-content;
    }

    .footer__section:last-child {
        grid-column: span 4;
        grid-column-end: -1;
        text-align: right;
    }

}
