/* Colors */

@import 'colors/dark.css';

/* Blocks */

@import 'blocks/about-section/dark.css';
@import 'blocks/article-card/dark.css';
@import 'blocks/content/dark.css';
@import 'blocks/intro/dark.css';
@import 'blocks/lead/dark.css';
@import 'blocks/prism/dark.css';
@import 'blocks/project-feature/dark.css';
@import 'blocks/project-section/dark.css';
@import 'blocks/theme-switcher/dark.css';
