/* Colors */

@import 'colors/dark.css';

/* Blocks */

@import 'blocks/card/dark.css';
@import 'blocks/chip/dark.css';
@import 'blocks/content/dark.css';
@import 'blocks/intro/dark.css';
@import 'blocks/lead/dark.css';
@import 'blocks/project/dark.css';
