/* Global */

@import 'global/fonts.css';
@import 'global/box-model.css';

/* Colors */

@import 'colors/index.css';

/* Sizes */

@import 'sizes/mobile.css';
@import 'sizes/tablet.css';
@import 'sizes/desktop.css';

/* Blocks */

@import 'blocks/action/index.css';
@import 'blocks/archive/index.css';
@import 'blocks/aside/index.css';
@import 'blocks/card/index.css';
@import 'blocks/content/index.css';
@import 'blocks/footer/index.css';
@import 'blocks/header/index.css';
@import 'blocks/intro/index.css';
@import 'blocks/main/index.css';
@import 'blocks/menu/index.css';
@import 'blocks/page/index.css';
@import 'blocks/skip/index.css';
@import 'blocks/sr-only/index.css';
@import 'blocks/switcher/index.css';
