/* Global */

@import 'global/fonts.css';
@import 'global/box-model.css';

/* Colors */

@import 'colors/index.css';

/* Sizes */

@import 'sizes/mobile.css';
@import 'sizes/tablet.css';
@import 'sizes/desktop.css';

/* Blocks */

@import 'blocks/action/index.css';
@import 'blocks/article-card/index.css';
@import 'blocks/article-list/index.css';
@import 'blocks/aside/index.css';
@import 'blocks/chip-list/index.css';
@import 'blocks/chip/index.css';
@import 'blocks/content-block/index.css';
@import 'blocks/content-inline/index.css';
@import 'blocks/figure/index.css';
@import 'blocks/footer/index.css';
@import 'blocks/header/index.css';
@import 'blocks/heading/index.css';
@import 'blocks/intro/index.css';
@import 'blocks/lead/index.css';
@import 'blocks/main/index.css';
@import 'blocks/menu/index.css';
@import 'blocks/page/index.css';
@import 'blocks/pagination/index.css';
@import 'blocks/profile/index.css';
@import 'blocks/project-list/index.css';
@import 'blocks/project/index.css';
@import 'blocks/radius/index.css';
@import 'blocks/skip/index.css';
@import 'blocks/sr-only/index.css';
@import 'blocks/switcher/index.css';
@import 'blocks/tags/index.css';
@import 'blocks/work/index.css';
