/* Global */

@import "global/fonts.css";
@import "global/box-model.css";

/* Colors */

@import "colors/index.css";

/* Sizes */

@import "sizes/mobile.css";
@import "sizes/tablet.css";
@import "sizes/desktop.css";

/* Blocks */

@import "blocks/page.css";
@import "blocks/skip-link.css";
@import "blocks/header.css";
@import "blocks/theme-switcher.css";
@import "blocks/navigation.css";
@import "blocks/archive.css";
@import "blocks/card.css";
@import "blocks/action.css";
@import "blocks/content.css";
@import "blocks/footer.css";
@import "blocks/sr-only.css";
