/* Colors */

@import 'colors/light.css';

/* Blocks */

@import 'blocks/article-card/light.css';
@import 'blocks/content/light.css';
@import 'blocks/intro/light.css';
@import 'blocks/lead/light.css';
@import 'blocks/project-card/light.css';
@import 'blocks/project-section/light.css';
