/* Colors */

@import 'colors/light.css';

/* Blocks */

@import 'blocks/card/light.css';
@import 'blocks/chip/light.css';
@import 'blocks/content/light.css';
@import 'blocks/lead/light.css';
@import 'blocks/profile/light.css';
@import 'blocks/project/light.css';
