{% from 'intro-picture.njk' import introPicture with context %}
{% from 'article-card-list.njk' import articleCardList with context %}

<main class="main column" id="main">
    <div class="main__gaps">
        <div class="intro ">
            <p class="intro__hi">
                {{ intro.hi | safe }}
            </p>
            <h1 class="intro__name">
                {{ intro.name | safe }}
            </h1>

            {{ introPicture(context='home') }}

            <p class="intro__who">
                {{ intro.who | safe }}
            </p>
            <p class="intro__what content content-inline">
                {{ intro.what | markdownInline | safe }}
            </p>
            <svg class="intro__scribble" width="200" height="200" aria-hidden="true">
                <use href="/images/scribbles.svg#1"/>
            </svg>
        </div>
        <section>
            <header class="caption">
                <h2 class="caption__title">
                    Articles
                </h2>
                <span class="caption__number" aria-label="{{ collections.articles.length }} in total">
                    {{ collections.articles.length }}
                </span>
                <a class="caption__link action action--hover" href="/articles/" aria-label="View all articles">
                    <span class="caption__label">
                        View all
                    </span>
                    <svg class="action__icon" width="24" height="24" aria-hidden="true">
                        <use href="/images/icons.svg#right"/>
                    </svg>
                </a>
            </header>

            {{ articleCardList(
                collection=collections.articles | reverse,
                heading='h3',
                limit=6
            ) }}
        </section>
        <section>
            {% set projectsList = [] %}

            {% for section in projects %}
                {% for project in section.projects %}
                    {% set projectsList = (
                        projectsList.push(project),
                        projectsList
                    ) %}
                {% endfor %}
            {% endfor %}

            <header class="caption">
                <h2 class="caption__title">
                    Projects
                </h2>
                <span class="caption__number" aria-label="{{ projectsList.length }} projects">
                    {{ projectsList.length }}
                </span>
                <a class="caption__link action action--hover" href="/projects/" aria-label="View all projects">
                    <span class="caption__label">
                        View all
                    </span>
                    <svg class="action__icon" width="24" height="24" aria-hidden="true">
                        <use href="/images/icons.svg#right"/>
                    </svg>
                </a>
            </header>

            <div class="project-feature-list">
                {% set scribbles = cycler(1, 2, 3) %}
                {% for section in projects %}
                    <article class="project-feature project-feature--{{ section.title | lower }}">
                        <h3 class="project-feature__title">
                            <a class="project-feature__link" href="/projects/#{{ section.title | lower }}">
                                {{ section.title }}
                            </a>
                        </h3>
                        <svg class="project-feature__icon" width="36" height="36" aria-hidden="true">
                            <use href="/images/icons.svg#right"/>
                        </svg>
                        <svg class="project-feature__scribble" width="200" height="200" aria-hidden="true">
                            <use href="/images/scribbles.svg#{{ scribbles.next() }}"/>
                        </svg>
                    </article>
                {% endfor %}
            </div>
        </section>
    </div>
</main>
