/* Name */

.profile__name {
    text-transform: uppercase;
    font-weight: normal;
    font-family: var(--font-family-heading);
}

/* Photo */

.profile__photo {
    display: block;
    background-color: var(--profile-photo-back);
    border-radius: var(--radius);
}

/* Who */

.profile__who {
    font-family: var(--font-family-heading);
}
