/* Page */

.page {
    background-color: var(--color-back-primary);
    color: var(--color-text-primary);
    line-height: 1.6;
    font-size: var(--font-size-normal);
    font-family: var(--font-family-text);
}

/* Clip */

.page--clip {
    overflow: hidden;
}

/* Body */

.page__body {
    margin: 0;
}
