/* Page */

.page {
	background-color: var(--color-back-primary);
	color: var(--color-text-primary);

	@media (prefers-reduced-motion: no-preference) {
		scroll-behavior: smooth;
	}
}

/* Clip */

.page--clip {
	overflow: hidden;
}

/* Body */

.page__body {
	margin: 0;
	line-height: 1.5;
	font-size: var(--font-size-normal);
	font-family: var(--font-family-text);
}
