@media (width >= 1024px) {

    /* Caption */

    .caption {
        margin-block-end: 80px;
        padding-block-start: 20px;
    }

    /* Title */

    .caption__title--top {
        font-size: var(--font-size-shout);
    }

    /* Label */

    .caption__label {
        display: inline;
    }

}
