/* About */

.about {
    display: grid;
    row-gap: 80px;
}

/* Item */

.about__item {
    display: grid;
    row-gap: 20px;
}

/* Title */

.about__title {
    margin: 0;
    font-weight: normal;
    font-size: var(--font-size-h2);
    font-family: var(--font-family-heading);
}

/* Desc */

.about__desc {
    margin: 0;
    padding-block-end: 20px;
    border-block-end: 2px solid var(--color-text-primary);
}

/* Columns */

.about__columns {
    margin: 0;
    padding: 0;
    list-style: none;
    column-count: 2;
    column-gap: 20px;
}

/* Links */

.about__links {
    display: grid;
    row-gap: 8px;
    margin: 0;
    padding: 0;
    list-style: none;
}
