---
eleventyComputed:
    title: 'Articles{% if pagination.pageNumber > 0 %}, page {{ pagination.pageNumber + 1 }}{% endif %}'
pagination:
    data: collections.articles
    size: 5
layout: page.njk
permalink: 'articles/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html'
---

{% include 'header.njk' %}

<main class="main">
    <div class="main__wrapper">
        <header class="heading">
            <h2 class="heading__title">
                {{ title }}
            </h2>
            <span class="heading__number">
                {{ collections.articles.length }}
            </span>
            <a class="heading__link action action--hover" href="/feed/" aria-label="RSS feed">
                <svg class="action__icon" width="24" height="24" aria-hidden="true">
                    <use href="/images/icons.svg#rss">
                </svg>
            </a>
        </header>

        {% from 'article-card-list.njk' import articleCardList with context %}

        {{ articleCardList(
            collection=collections.articles,
            limit=5
        ) }}
    </div>
</main>

{% include 'footer.njk' %}
