---
eleventyComputed:
    title: 'Articles{% if pagination.pageNumber > 0 %}, page {{ pagination.pageNumber + 1 }}{% endif %}'
pagination:
    data: collections.articles
    size: 5
layout: page.njk
permalink: 'articles/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html'
---

{% include 'header.njk' %}

<main class="main" id="main">
    {% from 'archive.njk' import archive with context %}

    {{ archive(
        as='div',
        title='Articles',
        collection=pagination.items,
        limit=4,
        link='articles'
    ) }}

    {% include 'pagination.njk' %}
</main>

{% include 'footer.njk' %}
