---
eleventyComputed:
  title: '{% if pagination.pageNumber > 0 %}Page {{ pagination.pageNumber + 1 }}{% else %}{{ data.title }}{% endif %}'
layout: page.njk
permalink: 'blog/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html'
pagination:
  data: collections.blog
  size: 5
  reverse: true
---

{% include 'header.njk' %}

<main>
    {% for post in pagination.items %}
        <article>
            <h2>
                <a href="{{ post.url }}">
                    {{ post.data.title }}
                </a>
            </h2>
        </article>
    {% endfor %}
    {% include 'pages.njk' %}
</main>

{% include 'footer.njk' %}
