@media (min-width: 1024px) {
    :root {
        --font-size-small: 1rem;
        --font-size-normal: 1.25rem;
        --font-size-h3: 2rem;
        --font-size-h2: 3.5rem;
        --font-size-h1: 5rem;
        --font-size-shout: 9rem;
    }
}
