/* About Work */

.about-work {
    display: grid;
    row-gap: 32px;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Item */

.about-work__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

/* Period */

.about-work__period {
    grid-row: span 2;
}

/* Title */

.about-work__title {
    color: var(--color-text-secondary);
}
