/* Intro */

.intro {
	position: relative;
	display: grid;
}

/* Hi */

.intro__hi {
	margin: 0;
}

/* Name */

.intro__name {
	line-height: 1.1;
	text-transform: uppercase;
	font-size: var(--font-size-shout);
}

/* Photo */

.intro__photo {
	display: block;
	width: 100%;
	height: auto;
	background-color: var(--intro-photo-back);
}

/* What */

.intro__what {
	margin: 0;
}

/* Path */

.intro__path {
	margin: 0;
}

/* Web */

.intro__web {
	margin: 0;
}
