/* Intro */

.intro {
    position: relative;
    display: grid;
}

/* Hi */

.intro__hi {
    margin: 0;
}

/* Name */

.intro__name {
    margin: 0;
    line-height: 1.1;
    text-transform: uppercase;
    font-weight: normal;
    font-size: var(--font-size-shout);
    font-family: var(--font-family-heading);
}

/* Photo */

.intro__photo {
    display: block;
    width: 100%;
    height: auto;
    background-color: var(--intro-photo-back);
}

/* Who */

.intro__who {
    margin: 0;
    font-family: var(--font-family-heading);
}

/* What */

.intro__what {
    margin: 0;
}

/* Path */

.intro__path {
    margin: 0;
}

/* Web */

.intro__web {
    margin: 0;
}

/* Scribble */

.intro__scribble {
    position: absolute;
    inset-block-start: 0;
    z-index: -1;
    inline-size: 600px;
    block-size: auto;
    color: var(--intro-scribble-fill);
    pointer-events: none;
    transform: scaleX(-1);
}
