@media (width >= 1760px) {

    /* Name */

    .intro__name {
        grid-column: 1 / -1;
        padding-block-end: 80px;
        line-height: 1.1;
    }

    /* Photo */

    .intro__photo {
        grid-row-start: 3;
        grid-column: 2 / span 3;
    }

    /* Who */

    .intro__who {
        grid-row-start: 3;
        grid-column: 4 / span 4;
        align-self: center;
        font-size: var(--font-size-h2);
    }

    /* What */

    .intro__what {
        grid-row-start: 4;
        grid-column: 5 / span 2;
    }

}
