@media (width >= 1760px) {

    /* Hi */

    .intro__hi {
        grid-row: 1 / 2;
        grid-column: 2 / span 3;
    }

    /* Name */

    .intro__name {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
    }

    /* Picture */

    .intro__picture {
        grid-row-start: 2;
        grid-column: 2 / span 3;
    }

    .intro__picture--home {
        grid-row-end: span 2;
    }

    .intro__picture--about {
        grid-row-end: span 3;
    }

    /* Who */

    .intro__who {
        grid-row: 2 / 3;
        grid-column: 4 / span 4;
        padding-block-start: 40px;
        padding-inline-start: 40px;
        font-size: var(--font-size-h2);
    }

    /* What */

    .intro__what {
        grid-row: 3 / 4;
        grid-column: 5 / span 2;
    }

    /* Path */

    .intro__path {
        grid-row: 3 / 4;
        grid-column: 6 / span 2;
    }

    /* Web */

    .intro__web {
        grid-row: 4 / 5;
        grid-column: 5 / span 2;
    }

}
