@media (width >= 1024px) {

    /* Intro */

    .intro {
        grid-template-columns: repeat(8, 1fr);
        column-gap: 20px;
        overflow: hidden;
    }

    /* Hi */

    .intro__hi {
        margin-block-start: -12px;
    }

    /* Name */

    .intro__name {
        padding-block-start: 20px;
        padding-block-end: 40px;
    }

    /* Photo */

    .intro__photo {
        border-radius: 40px;
    }

    /* Who */

    .intro__who {
        padding-block-end: 12px;
        line-height: 1.1;
    }

    /* What */

    .intro__what {
        padding-block-start: 18px;
    }

    /* Path */

    .intro__path {
        padding-block-start: 18px;
    }

    /* Web */

    .intro__web {
        padding-block-start: 30px;
    }

    /* Scribble */

    .intro__scribble {
        position: absolute;
        inset-block-start: 0;
        z-index: -1;
        inline-size: 600px;
        block-size: auto;
        color: var(--intro-scribble-fill);
        pointer-events: none;
        transform: scaleX(-1);
    }

}

@media (1024px <= width < 1760px) {

    /* Hi */

    .intro__hi {
        grid-row: 1 / 2;
        grid-column: 2 / span 3;
    }

    /* Name */

    .intro__name {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
    }

    /* Photo */

    .intro__photo {
        grid-row: 2 / 3;
        grid-column: 1 / span 5;
    }

    /* Who */

    .intro__who {
        grid-row: 2 / 3;
        grid-column: 5 / -1;
        align-self: end;
        font-size: 4.5vw;
    }

    /* What */

    .intro__what {
        grid-row: 3 / 4;
        grid-column: 6 / span 3;
    }

    /* Path */

    .intro__path {
        grid-row: 3 / 4;
        grid-column: 6 / span 3;
    }

    /* Web */

    .intro__web {
        grid-row: 4 / 5;
        grid-column: 5 / span 3;
    }

    /* Scribble */

    .intro__scribble {
        inset-inline-start: calc(
            100% - 400px
        );
    }

}
