/* Action */

.action {
    display: inline-flex;
    align-items: center;
    column-gap: 0.4em;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0.125rem;
    background-color: transparent;
    color: var(--color-text-primary);
    line-height: 1;
    font-size: inherit;
    font-family: inherit;
}

.action:focus-visible {
    outline: 2px solid var(--color-focus);
    outline-offset: 2px;
}

/* Hover */

@media (hover: hover) and (pointer: fine) {
    .action--hover:hover {
        background-color: var(--color-current-back);
        color: var(--color-current-text);
    }
}

/* Icon */

.action__icon {
    width: 24px;
    height: 24px;
}
