/* Action */

.action {
    margin: 0;
    padding: 0;
    display: inline-flex;
    column-gap: 0.4em;
    align-items: center;
    border: none;
    background-color: transparent;
    color: var(--color-text-primary);
    text-underline-offset: 3px;
    line-height: inherit;
    font-family: inherit;
    font-size: inherit;
}

.action:focus-visible {
    border-radius: 2px;
    outline: 2px solid var(--color-focus);
    outline-offset: 2px;
}

/* Icon */

.action__icon {
    width: 24px;
    height: 24px;
}
