@media (width < 1024px) {

    /* Heading */

    .heading {
        padding-block-start: 20px;
        margin-block-end: 40px;
    }

    /* Label */

    .heading__label {
        display: none;
    }

}
