/* Pagination */

.pagination {
	--pagination-current-back: hsl(var(--color-sulu));
	--pagination-current-text: hsl(var(--color-ebony));

	display: flex;
	column-gap: 8px;
}

/* List */

.pagination__list {
	display: flex;
	column-gap: 8px;
	margin: 0;
	padding: 0;
	list-style: none;
}

/* Link */

.pagination__link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2em;
	height: 2em;
	border-radius: 0.125rem;
	color: var(--color-text-primary);
	text-align: center;
	line-height: 1;

	&:focus-visible {
		outline: 2px solid var(--color-focus-ring);
		outline-offset: 2px;
	}

	&[aria-current] {
		background-color: var(--pagination-current-back);
		color: var(--pagination-current-text);
	}
}
