@media (width >= 1760px) {

    /* Lead */

    .lead {
        --lead-block-padding: 80px;
        --lead-inline-padding: 0;

        padding-inline: calc(
            (100% - 1676px) / 2
        );
    }

}
