@media (1024px <= width < 1760px) {

	/* Lead */

	.lead {
		padding-block: 48px;
	}

	/* Scribble */

	.lead__scribble {
		inset-inline-end: 0;
		inset-block: 0;
		margin: auto;
		inline-size: 640px;
		block-size: auto;
	}

}
