@media (1024px <= width < 1760px) {

    /* Lead */

    .lead {
        padding-block: 48px;
        padding-inline: 42px;
    }

    /* Scribble */

    .lead__scribble {
        inset-block: 0;
        inset-inline-end: 0;
        margin: auto;
        inline-size: 640px;
        block-size: auto;
    }

}
