:root {
    color-scheme: light dark;

    /* Basic */

    --color-white: 0 0% 100%;
    --color-ebony: 243 45% 8%;

    --color-titan: 247 100% 97%;
    --color-steel: 250 20% 17%;

    --color-grey: 240 7% 40%;
    --color-manatee: 231 10% 59%;

    --color-lilac: 263 52% 64%;
    --color-sulu: 84 79% 71%;
    --color-coral: 16 100% 66%;

    /* Current */

    --color-current-text: hsl(var(--color-ebony));
    --color-current-back: hsl(var(--color-sulu));

    /* Focus */

    --color-focus: hsl(var(--color-lilac));
}
