/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-inline: 20px;
    padding-block: 16px;
    border-bottom: 2px solid var(--color-text-primary);
}

/* Link */

.header__link {
    display: inline-block;
    border-radius: 50%;
    color: var(--color-text-primary);
}

.header__link:focus-visible {
    outline: 2px solid var(--color-focus);
    outline-offset: 2px;
}

/* Logo */

.header__logo {
    display: block;
}
