@media (width < 1024px) {

    /* Header */

    .header {
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        padding-inline: 20px;
        padding-block: 16px;
        box-shadow: 0 2px 0 var(--color-text-primary);
    }

    /* Button */

    .header__button {
        position: relative;
        z-index: 2;
    }

    .header__button[aria-expanded='false'] :where(
        .header__icon-close,
        .header__text-close
    ) {
        display: none;
    }

    .header__button[aria-expanded='true'] :where(
        .header__icon-menu,
        .header__text-menu
    ) {
        display: none;
    }

}
