@media (width >= 1024px) {

	/* Header */

	.header {
		display: grid;
		grid-template-columns: min-content auto;
		column-gap: 40px;
		padding-block: 24px;
		contain: layout;
	}

	/* Button */

	.header__button {
		display: none;
	}

	/* Logo */

	.header__logo {
		inline-size: 40px;
		block-size: 40px;
	}

}
