/* Code */

.code {
	margin-inline: 0;
	margin-block: 20px;
	padding: 20px;
	overflow: auto;
	border-radius: 20px;
	background-color: var(--content-code-back);
	color: var(--syntax-foreground);

	code {
		padding: 0;
	}
}

/* Tokens */

::highlight(comment),
::highlight(quote) {
	color: var(--syntax-comment);
}

::highlight(keyword),
::highlight(storage),
::highlight(at-rule),
::highlight(doctype),
::highlight(important),
::highlight(section) {
	color: var(--syntax-keyword);
}

::highlight(operator),
::highlight(punctuation) {
	color: var(--syntax-operator);
}

::highlight(string),
::highlight(regexp),
::highlight(attribute-value),
::highlight(link),
::highlight(raw) {
	color: var(--syntax-string);
}

::highlight(numeric),
::highlight(boolean),
::highlight(constant),
::highlight(symbol),
::highlight(character-entity),
::highlight(anchor),
::highlight(entity) {
	color: var(--syntax-constant);
}

::highlight(function),
::highlight(decorator),
::highlight(animation) {
	color: var(--syntax-function);
}

::highlight(type),
::highlight(support) {
	color: var(--syntax-type);
}

::highlight(variable),
::highlight(interpolation) {
	color: var(--syntax-variable);
}

::highlight(property),
::highlight(key),
::highlight(attribute-name) {
	color: var(--syntax-property);
}

::highlight(tag) {
	color: var(--syntax-tag);
}

::highlight(selector) {
	color: var(--syntax-selector);
}

::highlight(inserted) {
	color: var(--syntax-inserted);
}

::highlight(deleted) {
	color: var(--syntax-deleted);
}
