/* Code */

.content {
	--syntax-foreground: #24292f;
	--syntax-comment: #6e7781;
	--syntax-keyword: #cf222e;
	--syntax-operator: #24292f;
	--syntax-string: #0a3069;
	--syntax-constant: #0550ae;
	--syntax-function: #8250df;
	--syntax-type: #8250df;
	--syntax-variable: #953800;
	--syntax-property: #0550ae;
	--syntax-tag: #116329;
	--syntax-selector: #8250df;
	--syntax-inserted: #116329;
	--syntax-deleted: #cf222e;
}
