/* Card */

.card {
    --card-tools-back: hsl(var(--color-lilac));
    --card-podcasts-back: hsl(var(--color-sulu));
    --card-websites-back: hsl(var(--color-coral));
    --card-project-text: hsl(var(--color-ebony));
    --card-type-text: hsl(var(--color-lilac));
    --card-type-video: hsl(var(--color-coral));
    --card-radius: 20px;
}

@media (min-width: 1024px) {
    .card {
        --card-radius: 40px;
    }
}

/* Box */

.card__box {
    position: relative;
    display: grid;
    row-gap: 20px;
    grid-template-columns: 1fr min-content;
    padding: 20px;
    border-radius: var(--card-radius);
    background-color: var(--card-box-back);
}

/* Projects */

.card__box--project {
    color: var(--card-project-text);
}

.card__box--tools {
    background-color: var(--card-tools-back);
}

.card__box--podcasts {
    background-color: var(--card-podcasts-back);
}

.card__box--websites {
    background-color: var(--card-websites-back);
}

/* Types */

.card__types {
    margin: 0;
    display: flex;
    column-gap: 8px;
}

/* Type */

.card__type {
    display: block;
}

.card__type--text {
    color: var(--card-type-text);
}

.card__type--video {
    color: var(--card-type-video);
}

.card__type--external {
    color: var(--color-text-primary);
}

/* Title */

.card__title {
    grid-row: 2 / auto;
    grid-column: 1 / -1;
    margin: 0;
    line-height: 1.25;
    font-weight: normal;
    font-size: var(--font-size-h3);
    font-family: var(--font-family-heading);
}

/* Link */

.card__link {
    color: inherit;
    text-decoration: none;
}

.card__link:focus-visible {
    outline: none;
}

.card__link::before {
    position: absolute;
    inset: 0;
    content: '';
    border-radius: var(--card-radius);
}

.card__link:focus-visible::before {
    outline-offset: 2px;
    outline: 2px solid var(--color-focus);
}

/* Date */

.card__date {
    grid-column: 1 / -1;
}

/* Desc */

.card__desc {
    display: grid;
    row-gap: 16px;
    padding-inline: 20px;
    padding-block: 16px;
}

/* Text */

.card__text {
    margin: 0;
}

/* Source */

.card__source {
    justify-self: start;
}
