/* Card */

.card {
    --card-type-text: hsl(var(--color-lilac));
    --card-type-video: hsl(var(--color-coral));
}

/* Box */

.card__box {
    position: relative;
    display: grid;
    row-gap: 20px;
    grid-template-columns: 1fr min-content;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--card-box-back);
}

@media (min-width: 1024px) {
    .card__box {
        border-radius: 40px;
    }
}

/* Tags */

.card__tags {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
}

/* Tag */

.card__tag {
    padding-inline: 1rem;
    border-radius: 5em;
    border: 1.5px solid var(--color-text-primary);
    font-size: var(--font-size-small);
}

/* Types */

.card__types {
    margin: 0;
    display: flex;
    column-gap: 8px;
}

/* Type */

.card__type {
    display: block;
}

.card__type--text {
    color: var(--card-type-text);
}

.card__type--video {
    color: var(--card-type-video);
}

.card__type--external {
    color: var(--color-text-primary);
}

/* Title */

.card__title {
    grid-column: 1 / -1;
    margin: 0;
    line-height: 1.25;
    font-weight: normal;
    font-size: var(--font-size-large);
    font-family: var(--font-family-heading);
}

/* Link */

.card__link {
    color: var(--color-text-primary);
    text-decoration: none;
}

.card__link:focus-visible {
    outline: none;
}

.card__link::before {
    position: absolute;
    inset: 0;
    content: '';
    border-radius: 20px;
}

.card__link:focus-visible::before {
    outline-offset: 2px;
    outline: 2px solid var(--color-focus);
}

/* Date */

.card__date {
    grid-column: 1 / -1;
}

/* Desc */

.card__desc {
    display: grid;
    row-gap: 16px;
    padding-inline: 20px;
    padding-block: 16px;
}

/* Text */

.card__text {
    margin: 0;
}

/* Source */

.card__source {
    justify-self: start;
}
