/* Content */

.content {
	--content-image-outline: color-mix(in srgb, var(--color-manatee) 20%, transparent);
	--content-code-back: light-dark(var(--color-titan), var(--color-steel));
}

.content__last-updated {
	color: var(--color-text-secondary);
}
