/* theme */

.theme-switcher {
    padding: 0.125rem;
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    border: 2px solid var(--color-text-primary);
    border-radius: 5rem;
}

/* Button */

.theme-switcher__button {
    margin: 0;
    padding: 0;
    padding-inline: 1rem;
    border: none;
    border-radius: 5rem;
    background-color: transparent;
    color: var(--color-text-primary);
    line-height: inherit;
    font-size: inherit;
    font-family: inherit;
}

@media (hover: hover) and (pointer: fine) {
    .theme-switcher__button:hover {
        background-color: var(--color-current-back);
        color: var(--color-current-text);
    }
}

.theme-switcher__button:focus-visible {
    outline: 2px solid var(--color-focus);
    outline-offset: -2px;
}

.theme-switcher__button[aria-pressed='true'] {
    background-color: var(--color-text-primary);
    color: var(--color-back-primary);
    outline-offset: 2px;
}
