@media (width >= 1760px) {

    /* TOC */

    .two-columns__toc {
        padding-block-start: 80px;
    }

    /* Acticle */

    .two-columns__article {
        grid-column-end: span 4;
        padding-block-start: 80px;
    }

}
