@media (width >= 1760px) {

	/* TOC */

	.two-columns__toc {
		padding-block-start: 80px;
	}

	/* Cards */

	.two-columns__cards {
		row-gap: 80px;
	}

	/* Acticle */

	.two-columns__article {
		grid-column: 3 / span 4;
		padding-block-start: 80px;
	}

}
