@media (width < 1024px) {

	/* TOC */

	.two-columns__toc {
		padding-block-start: 20px;
	}

	/* Cards */

	.two-columns__cards {
		row-gap: 40px;
	}

	/* Article */

	.two-columns__article {
		padding-block-start: 40px;

		.two-columns__toc + & {
			padding-block-start: 12px;
		}
	}

}
