@media (width >= 1024px) {

    /* Two Columns */

    .two-columns {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        column-gap: 20px;
    }

    /* Filter */

    .two-columns__filter {
        grid-column: 1 / span 2;
    }

    /* Cards */

    .two-columns__cards {
        grid-column: 3 / span 6;
    }

    /* TOC */

    .two-columns__toc {
        grid-column: 1 / span 2;
        padding-block-start: 48px;
    }

    /* Article */

    .two-columns__article {
        grid-column: 3 / span 6;
        padding-block-start: 48px;
    }

    /* Page */

    .two-columns__page {
        grid-column: 3 / span 4;
    }

}
