@media (width >= 1024px) {

    /* Columns */

    .columns {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        column-gap: 20px;
    }

    /* Filter */

    .columns__filter {
        grid-column-end: span 2;
    }

    /* Cards */

    .columns__cards {
        grid-column-end: span 6;
    }

    /* TOC */

    .columns__toc {
        grid-column-end: span 2;
        padding-block-start: 48px;
    }

    /* Article */

    .columns__article {
        grid-column-end: span 6;
        padding-block-start: 48px;
    }

}
