---
permalink: manifest.json
---
{
    "name": "{{ global.title }}",
    "description": "{{ global.subtitle }}",
    "lang": "{{ global.language }}",
    "dir": "ltr",
    "id": "/",
    "start_url": "/",
    "theme_color": "#c1f07c",
    "display": "browser",
    "orientation": "natural",
    "icons": [
        {
            "src": "/images/logo/192.png",
            "type": "image/png",
            "sizes": "192x192"
        },
        {
            "src": "/images/logo/512.png",
            "type": "image/png",
            "sizes": "512x512"
        }
    ]
}
