---
layout: page.njk
---

{% include 'header.njk' %}

<div class="main">
    <main id="main">
        <header class="caption">
            <h1 class="caption__title">
                {{ title }}
            </h1>
        </header>

        <div class="content content-block content-inline">
            {{ content | safe }}
        </div>
    </main>

    {% from 'archive.njk' import archive with context %}

    {{ archive(
        as='aside',
        title='Articles',
        collection=collections.articles,
        limit=4,
        link='articles'
    ) }}

</div>

{% include 'footer.njk' %}
