---
layout: page.njk
---

{% include 'header.njk' %}

<main class="content" id="main">
    <h1>
        {{ title }}
    </h1>

    {{ content | safe }}

    <section>
        <h2>
            {{ skills.title }}
        </h2>
        <p>
            {{ skills.desc }}
        </p>
        <ul>
            {% for item in skills.list %}
                <li>
                    {{ item }}
                </li>
            {% endfor %}
        </ul>
    </section>

    <section>
        <h2>
            {{ work.title }}
        </h2>
        <p>
            {{ work.desc }}
        </p>
        <ul>
            {% for item in work.list %}
                <li>
                    {{ item.company }},
                    {{ item.title }}
                    {{ item.period }}
                </li>
            {% endfor %}
        </ul>
    </section>

    <section>
        <h2>
            {{ contacts.title }}
        </h2>
        <p>
            {{ contacts.desc }}
        </p>
        <ul>
            {% for item in contacts.list %}
                <li>
                    <a href="{{ item.url }}">
                        {{- item.title -}}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
</main>

{% include 'footer.njk' %}
