---
layout: page.njk
---

{% include 'header.njk' %}

<main class="main" id="main">
    <header class="caption">
        <h1 class="caption__title">
            {{ title }}
        </h1>
    </header>

    <section class="profile">
        <img
            class="profile__photo radius"
            src="{{ profile.photo }}"
            width="308" height="205"
            alt="{{ profile.alt }}"
        >
        <p class="profile__who">
            {{ profile.who }}
        </p>
        <p class="profile__what content content-inline">
            {{ profile.what | markdownInline | safe }}
        </p>
    </section>

    <section>
        <h2>
            {{ skills.title }}
        </h2>
        <p>
            {{ skills.desc }}
        </p>
        <ul>
            {% for item in skills.list %}
                <li>
                    {{ item }}
                </li>
            {% endfor %}
        </ul>
    </section>

    <section>
        <h2>
            {{ work.title }}
        </h2>
        <p>
            {{ work.desc }}
        </p>
        <ul>
            {% for item in work.list %}
                <li>
                    {{ item.company }},
                    {{ item.title }}
                    {{ item.period }}
                </li>
            {% endfor %}
        </ul>
    </section>

    <section>
        <h2>
            {{ contacts.title }}
        </h2>
        <p>
            {{ contacts.desc }}
        </p>
        <ul>
            {% for item in contacts.list %}
                <li>
                    <a href="{{ item.url }}">
                        {{- item.title -}}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
</main>

{% include 'footer.njk' %}
