---
eleventyComputed:
  title: '{% if pagination.pageNumber > 0 %}Page {{ pagination.pageNumber + 1 }}{% else %}{{ title }}{% endif %}'
permalink: 'articles/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html'
pagination:
  data: collections.articles
  size: 5
  reverse: true
layout: page.njk
---

{% include 'header.njk' %}

<main class="main" id="main">
    <h1>
        {{ title }}
    </h1>
    <a href="/feed/">
        RSS
    </a>

    {{ content | safe }}

    {% from 'card.njk' import card %}

    {% for article in collections.articles | reverse %}
        {% if loop.index <= 5 and article.url != page.url %}
            {{ card(
                article=article,
                heading='h2'
            ) }}
        {% endif %}
    {% endfor %}

    {% include 'pages.njk' %}
</main>

{% include 'footer.njk' %}
