---
eleventyComputed:
  title: '{% if pagination.pageNumber > 0 %}Page {{ pagination.pageNumber + 1 }}{% else %}{{ title }}{% endif %}'
permalink: 'articles/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html'
pagination:
  data: collections.articles
  size: 5
  reverse: true
layout: page.njk
---

{% include 'header.njk' %}

<main>
    <h1>
        {{ title }}
    </h1>

    {{ content | safe }}

    {% from 'articles.njk' import articles %}

    {{ articles(
        source=collections.articles,
        heading='h2',
        limit=5
    ) }}

    {% include 'pages.njk' %}
</main>

{% include 'footer.njk' %}
