---
layout: page.njk
---

{% include 'header.njk' %}

<div class="main">
    <main id="main">
        <header class="main__intro intro">
            <h1 class="intro__title">
                {{ title | safe }}
            </h1>
            <p class="intro__tags tags">
                {% for tag in tags %}
                    <span class="tags__item">{{ tag }}</span>
                {% endfor %}
            </p>
            <time class="intro__date" datetime="{{ date | dateISO }}">
                {{ date | dateLong }}
            </time>
            <svg class="intro__scribble" width="200" height="200" aria-hidden="true">
                <use href="/images/scribbles.svg#1"></use>
            </svg>
        </header>

        <div class="main__content content content-block content-inline">
            {{ content | safe }}
        </div>
    </main>

    {% from 'archive.njk' import archive with context %}

    {{ archive(
        as='aside',
        title='More',
        collection=collections.articles,
        limit=4,
        link='articles'
    ) }}
</div>

{% include 'footer.njk' %}
