---
layout: page.njk
---

{% include 'header.njk' %}

<main class="content" id="main">
    <p>
        {% for tag in tags %}
            {{ tag }}
        {% endfor %}
    </p>

    <h1>
        {{ title }}
    </h1>

    <p>
        <time datetime="{{ date | dateISO }}">
            {{ date | dateLong }}
        </time>
    </p>

    {{ content | safe }}
</main>

<aside class="archive">
    <header class="archive__header">
        <h2 class="archive__title">
            More articles
            <span class="archive__number">
                4
            </span>
        </h2>
        <a class="archive__link" href="/articles/">
            View all
            <span class="sr-only">
                articles
            </span>
        </a>
    </header>

    {% from 'articles.njk' import articles %}

    {{ articles(
        source=collections.articles,
        heading='h3',
        limit=4,
        exclude=page
    ) }}
</aside>

{% include 'footer.njk' %}
