---
layout: page.njk
---

{% include 'header.njk' %}

<main class="content" id="main">
    <h1>
        {{ title }}
    </h1>

    {% for tag in tags %}
        {{ tag }}
    {% endfor %}

    {{ content | safe }}
</main>

<aside>
    <h2>
        More articles
        <span>4</span>
    </h2>
    <a href="/articles/">
        View all
        <span>articles</span>
    </a>

    {% from 'articles.njk' import articles %}

    {{ articles(
        source=collections.articles,
        heading='h3',
        limit=4,
        exclude=page
    ) }}
</aside>

{% include 'footer.njk' %}
