---
eleventyComputed:
  title: '{% if pagination.pageNumber > 0 %}Page {{ pagination.pageNumber + 1 }}{% else %}{{ data.title }}{% endif %}'
layout: page.njk
permalink: 'blog/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html'
pagination:
  data: collections.blog
  size: 5
  reverse: true
---

{% include 'header.njk' %}

<main>
    <h1>
        {{ title }}
    </h1>
    {{ content | safe }}
    {% for post in pagination.items %}
        <article>
            {% if post.data.permalink == false %}
                <h2>
                    <a href="{{ post.data.url }}">
                        {{ post.data.title }}
                    </a>
                </h2>
            {% else %}
                <h2>
                    <a href="{{ post.url }}">
                        {{ post.data.title }}
                    </a>
                </h2>
            {% endif %}
            <time>{{ post.date | date }}</time>
        </article>
    {% endfor %}
    {% include 'pages.njk' %}
</main>

{% include 'footer.njk' %}
