---
layout: page.njk
---

{% include 'header.njk' %}

<main id="main">
    {{ content | safe }}

    <section class="archive">
        <header class="archive__header">
            <h2 class="archive__title">
                Articles
            </h2>
            <span class="archive__number">
                {{ collections.articles.length }}
            </span>
            <a class="archive__link" href="/articles/">
                View all
                <span class="sr-only">
                    articles
                </span>
            </a>
        </header>

        {% from 'articles.njk' import articles %}

        {{ articles(
            source=collections.articles,
            heading='h3',
            limit=5
        ) }}
    </section>

    <section class="archive">
        {% set projectsList = [] %}

        {% for section in projects %}
            {% for project in section.projects %}
                {% set projectsList = (
                    projectsList.push(project),
                    projectsList
                ) %}
            {% endfor %}
        {% endfor %}

        <header class="archive__header">
            <h2 class="archive__title">
                Projects
            </h2>
            <span class="archive__number">
                {{ projectsList.length }}
            </span>
            <a class="archive__link" href="/projects/">
                View all
                <span class="sr-only">
                    projects
                </span>
            </a>
        </header>

        {% for section in projects %}
            <article>
                <h3>
                    <a href="/projects/#{{ section.title | lower }}">
                        {{ section.title }}
                    </a>
                </h3>
            </article>
        {% endfor %}
    </section>
</main>

{% include 'footer.njk' %}
