---
layout: page.njk
---

{% include 'header.njk' %}

<main class="main" id="main">
    <section class="profile">
        <p class="profile__intro">
            {{ profile.intro }}
        </p>
        <h1 class="profile__name">
            {{ profile.name }}
        </h1>
        <img
            class="profile__photo radius"
            src="{{ profile.photo }}"
            width="308" height="205"
            alt="{{ profile.alt }}"
        >
        <p class="profile__who">
            {{ profile.who }}
        </p>
        <p class="profile__what">
            {{ profile.what | markdownInline | safe }}
        </p>
    </section>

    <section>
        <header class="caption">
            <h2 class="caption__title">
                Articles
            </h2>
            <span class="caption__number">
                {{ collections.articles.length }}
            </span>
            <a class="caption__link action" href="/articles/">
                <svg class="action__icon" width="24" height="24" aria-hidden="true">
                    <use href="/images/icons.svg#right"></use>
                </svg>
            </a>
        </header>

        <div class="card-list">
            {% from 'card.njk' import card %}

            {% for article in collections.articles | reverse %}
                {% if loop.index <= 5 and article.url != page.url %}
                    {{ card(
                        article=article,
                        heading='h3'
                    ) }}
                {% endif %}
            {% endfor %}
        </div>
    </section>

    <section>
        {% set projectsList = [] %}

        {% for section in projects %}
            {% for project in section.projects %}
                {% set projectsList = (
                    projectsList.push(project),
                    projectsList
                ) %}
            {% endfor %}
        {% endfor %}

        <header class="caption">
            <h2 class="caption__title">
                Projects
            </h2>
            <span class="caption__number">
                {{ projectsList.length }}
            </span>
            <a class="caption__link action" href="/projects/">
                <svg class="action__icon" width="24" height="24" aria-hidden="true">
                    <use href="/images/icons.svg#right"></use>
                </svg>
            </a>
        </header>

        <div class="chip-list">
            {% for section in projects %}
                <article class="chip chip--{{ section.title | lower }} radius">
                    <h3 class="chip__title">
                        <a class="chip__link" href="/projects/#{{ section.title | lower }}">
                            {{ section.title }}
                        </a>
                    </h3>
                    <svg class="chip__icon" width="36" height="36" aria-hidden="true">
                        <use href="/images/icons.svg#right"></use>
                    </svg>
                </article>
            {% endfor %}
        </div>
    </section>
</main>

{% include 'footer.njk' %}
