---
layout: page.njk
---

{% include 'header.njk' %}

<main class="main" id="main">
    <div class="intro">
        <p class="intro__greeting">
            {{ intro[0] }}
        </p>
        <h1 class="intro__name">
            {{ intro[1] }}
        </h1>
        <img class="intro__photo"
            src="{{ intro[2] }}"
            width="308" height="205"
            alt="Black and white portrait on a colored background."
        >
        <p class="intro__who">
            {{ intro[3] }}
        </p>
        <p class="intro__what">
            {{ intro[4] | markdownInline | safe }}
        </p>
    </div>

    <section class="archive">
        <header class="archive__header">
            <h2 class="archive__title">
                Articles
            </h2>
            <span class="archive__number">
                {{ collections.articles.length }}
            </span>
            <a class="archive__link action" href="/articles/">
                View all
                <span class="sr-only">
                    articles
                </span>
                <svg class="action__icon" width="24" height="24" aria-hidden="true">
                    <use href="/images/icons.svg#right"></use>
                </svg>
            </a>
        </header>

        {% from 'card.njk' import card %}

        {% for article in collections.articles | reverse %}
            {% if loop.index <= 5 and article.url != page.url %}
                {{ card(
                    article=article,
                    heading='h3'
                ) }}
            {% endif %}
        {% endfor %}
    </section>

    <section class="archive">
        {% set projectsList = [] %}

        {% for section in projects %}
            {% for project in section.projects %}
                {% set projectsList = (
                    projectsList.push(project),
                    projectsList
                ) %}
            {% endfor %}
        {% endfor %}

        <header class="archive__header">
            <h2 class="archive__title">
                Projects
            </h2>
            <span class="archive__number">
                {{ projectsList.length }}
            </span>
            <a class="archive__link action" href="/projects/">
                View all
                <span class="sr-only">
                    projects
                </span>
                <svg class="action__icon" width="24" height="24" aria-hidden="true">
                    <use href="/images/icons.svg#right"></use>
                </svg>
            </a>
        </header>

        {% for section in projects %}
            <article>
                <h3>
                    <a href="/projects/#{{ section.title | lower }}">
                        {{ section.title }}
                    </a>
                </h3>
            </article>
        {% endfor %}
    </section>
</main>

{% include 'footer.njk' %}
