<!DOCTYPE html>
<html class="page" lang="en">
<head>
    <meta charset="utf-8">
    <title>
        {{ title }}{% if page.url !== '/' %} — {{ global.title }}{% endif %}
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="{{ global.description }}">
    <meta name="generator" content="{{ eleventy.generator }}">

    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ global.title }}">
    <meta property="og:site_name" content="{{ global.description }}">
    <meta property="og:url" content="{{ global.domain }}">
    <meta property="og:image" content="{{ global.domain }}/images/social.png">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ global.title }}">
    <meta name="twitter:description" content="{{ global.description }}">
    <meta name="twitter:site" content="{{ global.domain }}">
    <meta name="twitter:image" content="{{ global.domain }}/images/social.png">

    <link rel="icon" href="/images/logo/favicon.ico" sizes="any">
    <link rel="icon" href="/images/logo/any.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/images/logo/180.png">
    <link rel="manifest" href="/manifest.json">

    <link rel="stylesheet" href="/styles/index.css">
    <script async src="/scripts/index.js"></script>
</head>
<body class="page__body">
    {{ content | safe }}
</body>
</html>
