<!DOCTYPE html>
<html class="page" lang="en">
<head>
    <meta charset="utf-8">
    <title>
        {{ global.title if page.url == '/' else title + ' — ' + global.title }}
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/styles/index.css">

    <link rel="preconnect" href="https://ohno.pepelsbey.dev">

    <link rel="preload" href="/fonts/inter-variable.woff2" crossorigin as="font" type="font/woff2">
    <link rel="preload" href="/fonts/neue-machina.woff2" crossorigin as="font" type="font/woff2">
    <link rel="preload" href="/fonts/jetbrains-mono.woff2" crossorigin as="font" type="font/woff2">

    <link rel="icon" href="/images/logo/favicon.ico" sizes="any">
    <link rel="icon" href="/images/logo/any.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/images/logo/180.png">
    <link rel="manifest" href="/manifest.json">

    <meta name="description" content="{{ global.subtitle }}">
    <meta name="generator" content="{{ eleventy.generator }}">

    <meta name="theme-color" media="(prefers-color-scheme: light)" content="hsl(84 79% 71%)">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="hsl(263 52% 64%)">

    {% include 'covers.njk' %}

    <style media="(prefers-color-scheme: light)">
        {{ 'src/styles/light.css' | css }}
    </style>
    <style media="(prefers-color-scheme: dark)">
        {{ 'src/styles/dark.css' | css }}
    </style>

    <script defer src="/scripts/index.js"></script>
    <script defer src="https://ohno.pepelsbey.dev/script.js" data-site="AQPFXSVA"></script>
</head>
<body class="page__body">
    {% include 'header.njk' %}

    {{ content | safe }}

    {% include 'footer.njk' %}
</body>
</html>
