---
layout: page.njk
---

{% include 'header.njk' %}

<main class="content">
    <h1>
        {{ title }}
    </h1>
    {% for tag in tags %}
        {{ tag }}
        {%-if not loop.last %},{% endif %}
    {% endfor %}
    {{ content | safe }}
</main>

{% include 'footer.njk' %}
