---
layout: page.njk
---

{% include 'header.njk' %}

<main class="main" id="main">
    {% set projectsList = [] %}

    {% for section in projects %}
        {% for project in section.projects %}
            {% set projectsList = (
                projectsList.push(project),
                projectsList
            ) %}
        {% endfor %}
    {% endfor %}

    <header class="caption">
        <h2 class="caption__title">
            {{ title }}
        </h2>
        <span class="caption__number">
            {{ projectsList.length }}
        </span>
    </header>

    {{ content | safe }}

    {% for section in projects %}
        <section id="{{ section.title | lower }}">
            <h2>
                {{ section.title }}
            </h2>
            <p>
                {{ section.desc | markdownInline | safe }}
            </p>

            {% for project in section.projects %}
                <article class="card">
                    <div class="card__box">
                        <h3 class="card__title">
                            <a class="card__link" href="{{ project.url }}">
                                {{- project.title -}}
                            </a>
                        </h3>
                        <p class="card__tags">
                            {% for tag in project.tags %}
                                <span class="card__tag">
                                    {{ tag }}
                                </span>
                            {% endfor %}
                        </p>
                        <p class="card__types">
                            <svg class="card__type card__type--external" width="24" height="24" aria-hidden="true">
                                <use href="/images/icons.svg#external">
                            </svg>
                        </p>
                    </div>
                    <div class="card__desc">
                        <p class="card__text">
                            {{ project.desc | markdownInline | safe }}
                        </p>
                    </div>
                </article>
            {% endfor %}
        </section>
    {% endfor %}
</main>

{% include 'footer.njk' %}
