---
layout: page.njk
---

{% include 'header.njk' %}

<main class="main" id="main">
    <h1>
        {{ title }}
    </h1>

    {{ content | safe }}

    {% for section in projects %}
        <section id="{{ section.title | lower }}">
            <h2>
                {{ section.title }}
            </h2>
            <p>
                {{ section.desc | markdownInline | safe }}
            </p>

            {% for project in section.projects %}
                <article>
                    <p>
                        {% for tag in project.tags %}
                            {{ tag }}
                        {% endfor %}
                    </p>
                    <h3>
                        <a href="{{ project.url }}">
                            {{- project.title -}}
                        </a>
                    </h3>
                    <p>
                        {{ project.desc | markdownInline | safe }}
                    </p>
                </article>
            {% endfor %}
        </section>
    {% endfor %}
</main>

{% include 'footer.njk' %}
