---
layout: page.njk
---

{% include 'header.njk' %}

<main class="content">
    <h1>
        {{ title }}
    </h1>

    {{ content | safe }}

    {% for section in projects %}
        <section>
            <h2>
                {{ section.title }}
            </h2>
            <p>
                {{ section.desc }}
            </p>

            {% for project in section.projects %}
                <article class="card">
                    <p>
                        {% for tag in project.tags %}
                            {{ tag }}
                        {% endfor %}
                    </p>
                    <h3>
                        <a href="{{ project.url }}">
                            {{-project.title-}}
                        </a>
                    </h3>
                </article>
            {% endfor %}
        </section>
    {% endfor %}
</main>

{% include 'footer.njk' %}
