/* Prism */

.prism {
    --prism-focus: hsl(var(--color-lilac));

    margin: 0;
    padding: 20px;
    overflow: scroll;
    border-radius: 20px;
    background-color: var(--prism-back);
}

.prism:focus-visible {
    outline: 2px solid var(--prism-focus);
    outline-offset: 2px;
}

.prism code {
    padding: 0;
}

/* Colors */

.prism :where(
    .token.comment,
    .token.prolog,
    .token.cdata
) {
    color: var(--prism-gray);
}

.prism :where(
    .token.doctype,
    .token.punctuation,
    .token.entity
) {
    color: var(--prism-text);
}

.prism :where(
    .token.attr-name,
    .token.class-name,
    .token.boolean,
    .token.constant,
    .token.number,
    .token.atrule
) {
    color: var(--prism-blue);
}

.prism :where(
    .token.keyword
) {
    color: var(--prism-indigo);
}

.prism :where(
    .token.property,
    .token.tag,
    .token.symbol,
    .token.deleted,
    .token.important
) {
    color: var(--prism-green);
}

.prism :where(
    .token.selector,
    .token.string,
    .token.char,
    .token.builtin,
    .token.inserted,
    .token.regex,
    .token.attr-value,
    .token.attr-value > .token.punctuation
) {
    color: var(--prism-blue);
}

.prism :where(
    .token.variable,
    .token.operator,
    .token.function
) {
    color: var(--prism-indigo);
}

.prism :where(
    .token.url
) {
    color: var(--prism-green);
}

/* HTML overrides */

.prism :where(
    .token.attr-value > .token.punctuation.attr-equals,
    .token.special-attr > .token.attr-value > .token.value.css
) {
    color: var(--prism-text);
}

/* CSS overrides */

.prism :where(
    .language-css .token.selector
) {
    color: var(--prism-green);
}

.prism :where(
    .language-css .token.property
) {
    color: var(--prism-blue);
}

.prism :where(
    .language-css .token.important,
    .language-css .token.atrule .token.rule
) {
    color: var(--prism-red);
}

/* JS overrides */

.prism :where(
    .language-js .token.keyword,
    .language-javascript .token.keyword
) {
    color: var(--prism-red);
}

.prism :where(
    .language-js .token.operator,
    .language-js .token.constant,
    .language-js .token.boolean,
    .language-js .token.number,
    .language-js .token.atrule,
    .language-javascript .token.operator,
    .language-javascript .token.constant,
    .language-javascript .token.boolean,
    .language-javascript .token.number,
    .language-javascript .token.atrule
) {
    color: var(--prism-blue);
}

.prism :where(
    .language-js .token.function,
    .language-javascript .token.function
) {
    color: var(--prism-purple);
}

.prism :where(
    .language-js .token.attr-name,
    .language-js .token.class-name,
    .language-js .token.function-variable,
    .language-javascript .token.attr-name,
    .language-javascript .token.class-name,
    .language-javascript .token.function-variable
) {
    color: var(--prism-brown);
}

/* JSX overrides */

.prism :where(
    .language-jsx .token.keyword
) {
    color: var(--prism-red);
}

.prism :where(
    .language-jsx .token.function
) {
    color: var(--prism-purple);
}

.prism :where(
    .language-jsx .token.function-variable
) {
    color: var(--prism-brown);
}

.prism :where(
    .language-jsx .token.punctuation
) {
    color: var(--prism-blue);
}

.prism :where(
    .language-jsx .token.attr-name,
    .language-jsx .token.class-name
) {
    color: var(--prism-green);
}

.prism :where(
    .language-jsx .token.string
) {
    color: var(--prism-indigo);
}

/* JSON overrides */

.prism :where(
    .language-json .token.operator
) {
    color: var(--prism-text);
}

.prism :where(
    .language-json .token.null.keyword
) {
    color: var(--prism-blue);
}

/* YAML overrides */

.prism :where(
    .language-yml .token.atrule,
    .language-yaml .token.atrule
) {
    color: var(--prism-green);
}

/* General */

.prism :where(
    .token.bold
) {
    font-weight: bold;
}

.prism :where(
    .token.comment,
    .token.italic
) {
    font-style: italic;
}

.prism :where(
    .token.entity
) {
    cursor: help;
}

.prism :where(
    .token.namespace
) {
    opacity: 0.8;
}
