/* Prism */

.prism {
	--prism-text: #24292f;
	--prism-back: hsl(var(--color-titan));
	--prism-gray: #666e77;
	--prism-red: #cf222e;
	--prism-green: #116329;
	--prism-blue: #0550ae;
	--prism-indigo: #0a3069;
	--prism-purple: #8250df;
	--prism-brown: #953800;
}
